pkgbase = katalogue-git
	pkgdesc = A catalog to assist tracking maintenance for your home.
	pkgver = 10f31f95a1e998c3051f43b9447a27a380021540
	pkgrel = 1
	url = https://github.com/kd8bny/katalogue
	arch = x86_64
	license = AGPLv3
	options = !strip
	source = https://github.com/kd8bny/katalogue/releases/download/
	sha512sums = 

pkgname = katalogue
